# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/

# Unit test / coverage reports
.[nt]ox/
.*cache/
.hypothesis/

# Sphinx documentation
docs/build/

*.ignore
*.ignore.*
