include *.md
include LICENSE

# development-only files
prune tools

# Documentation
recursive-include docs Makefile *.rst *.py
prune docs/build

# Testing
exclude tox.ini
prune tests

# Travis
exclude .travis.yml
