include *.md
include LICENSE

# Documentation
recursive-include docs Makefile *.rst *.py
prune docs/build

# Testing
exclude tox.ini
exclude test-requirements.txt

# Continuous integration
prune .travis
exclude .travis.yml
